spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
      table-name: spring_session
    timeout: 259200s   # 3 days

server:
  port: 8080
  forward-headers-strategy: framework
  servlet:
    session:
      cookie:
        same-site: ${SERVER_SERVLET_SESSION_COOKIE_SAME_SITE:lax}
        secure: ${SERVER_SERVLET_SESSION_COOKIE_SECURE:false}

app:
  frontend-url: ${APP_FRONTEND_URL:http://localhost:3000}
